[submodule "SafebaseBack"]
    path = SafebaseBack
    url = https://github.com/morgane-marechal/SafebaseBack.git
[submodule "Safebasefront"]
	path = Safebasefront
	url = https://github.com/morgane-marechal/Safebasefront.git
