[submodule "SafebaseBack"]
    path = SafebaseBack
    url = https://github.com/morgane-marechal/SafebaseBack.git
[submodule "safebasefront"]
	path = safebasefront
	url = https://github.com/morgane-marechal/Safebasefront.git
