[submodule "SafebaseBack"]
    path = SafebaseBack
    url = https://github.com/morgane-marechal/SafebaseBack.git
[submodule "SafebaseFront"]
	path = safebasefront
	url = https://github.com/morgane-marechal/SafebaseFront.git
